/* CSS rules are sometimes not consistent across browsers (Internet Explorer *kotz*).
 To look up, if a rule can be used safely, "caniuse.com" is a very good page to check this. */

/* Task 2:
 * check on caniuse.com if the Flexible Box Layout Module ("flex") is supported by all browsers
 */

/* Task 3:
 * change the text-color in the <main>-tag to "red"
 */

main {
    width: 100%;
    color: black;
}

div {
    display: flex;
    /* Task 4:
     * play Flexbox Froggy on http://flexboxfroggy.com/
     */
    height: 100px;
    width: 100px;
}

/* Task 5:
 * change the background-color to blue
 */
#i-am-a-div-with-an-id {
    color: white;
    background-color: transparent;
}

/* Task 6:
 * - change the background-color to rgba(200, 54, 54, .5)
 * - change the cursor to a pointer when hovering with the mouse
 */
.i-am-a-div-with-a-class {
    background-color: #235;
}
